body {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #fbd0b6, #f4a9c5, #d5b2d5, #c1bbde, #9dcaee);
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.border {
	border-style: solid;
	border-radius: 10px;
	border-width: 10px;
	border-color: #dce6f7;
	margin-left: 20%;
	margin-right: 20%;
}

#txt {
	color: #dce6f7;
	letter-spacing: 2px;
	text-align: center;
	font-family: Bebas Neue;
	font-size: 100px;
	position: absolute;
	right: 0;
	left: 0;
	top: 25%;
}
